<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}sf2QOTD : le meilleur du pire du chat{% endblock %}
        </title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/sf2qotdwebsite/css/main.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/sf2qotdwebsite/js/jquery/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('bundles/sf2qotdwebsite/js/counter.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div id="header">
            <span>sf2QOTD</span>
            <div>le meilleur du pire du chat</div>
        </div>
        {% include 'Sf2qotdWebsiteBundle:Default:menu.html.twig' %}
    
        <div id="content">
            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
            
        {% include 'Sf2qotdWebsiteBundle:Default:menu.html.twig' %}
        
        <div id="footer">
            By GuiGuiBoy - <a href="https://github.com/guiguiboy/sf2QOTD" target="_blank">Fork me I'm famous</a>
            
        </div>
    </body>
</html>