{# src/sf2qotd/WebsiteBundle/Resources/views/Default/quote.html.twig #}

<div>
    <div class="count">
        <div class="pros">{{ quote.votePlus }}</div>
        <div class="cons">{{ quote.voteMinus }}</div>
    </div>
    <div class="quote">
        {{ quote.body }}
    </div>
</div>
